{% extends 'common/base.html'%}
{%load static%}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{%block title%}Orders Page{%endblock%}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
  <body>
   {% block content%}
   {% include 'common/statistics.html'%} 
    <div class="container">
      <div class="row my-4">
          <div class="col-md-4">

          </div>
          <div class="col-md-8">
              <table class="table bg-white">
                  <thead class="bg-dark">
                      <tr class="text-white">
                          <th scope="col">#</th>
                          <th scope="col">Product</th>
                          <th scope="col">Category</th>
                          <th scope="col">Quantity</th>
                          <th scope="col">Order by</th>
                          <th scope="col">When?</th>
                      </tr>
                  </thead>
                  <tbody>
                    {% for order in all_orders%}
                      <tr>
                          <th scope="row">{{order.id}}</th>
                          <td>{{order.name_product}}</td>
                          <td>{{order.name_product.category}}</td>
                          <td>{{order.qty_ordered}}</td>
                          <td>{{order.client_name.username}}</td>
                          <td>{{order.time_of_order}}</td>
                    
                      </tr>
                      {%endfor%}
                
                  </tbody>
              </table>
          </div>
      </div>

  </div>



  <!--End Table-->

   {%endblock%}


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>